*{
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 100px;
    height: 100px;
    background-color: yellow;
    transition: all 1s ease;
}

.item:hover {
     /* transform: translate(50px,50px); */
     /* transform: rotateY(50deg); */
     /* transform: scale(0.1); */
     transform: skewY(50deg) 
}